body {
    background-color: #784302;
}

.main-container{
    min-height: 100vh;
    background-image: url('img/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    z-index: 2;
    text-align: center;

}

.navbar a {
    text-decoration: none;
    color: #704214;
    margin-right: 2rem;
    flex-basis: 7%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.05em;
    
}


.navbar a:last-child {
    margin-right: 0;
}

.navbar-default{
    transition: 500ms ease;
    background: #9be2ec;
}

.navbar-default.scrolled {
    background-color: #F6D7B0;
}

.navbar-logo {
    flex-basis: auto;
    text-align: left;
    margin-bottom: -1.5em;
    margin-top: -1.5em;

}


.navbar-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-img {
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 10rem;

}

#sub-header-name {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1em;
    margin-top: -2rem;
    color: #945404;
    font-weight: bold;
}

.footer {

    background-color: #3D2B1F;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

  
.footer-title {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
}
  
.footer-links {
    margin-top: 1.5rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
}
  
.footer-links a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}
  
html, body {
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
.content {
    flex: 1;
}
  
.all-rights {
    margin-top: 1rem;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
}

.custom-image {
    max-width: 100%;
    width: 110%; 
    margin: 3rem auto; 
}

.text-center {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.text-center h1{
    font-size: 7rem;
    margin: 1rem auto;
}

.text-center h3{
    margin: -1rem auto;
}

.label-name {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.label-email {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.label-message {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.btn.btn-primary {
    background-color: #3D2B1F;
    width: 8rem;
    border: none;
    height: 2.5rem;
    margin: 0.5rem auto;
    
}

.contact-us {
    margin: 3rem auto;
}

#ctc-img {
  margin-top: 3rem; 
  margin-bottom: 3rem; 
  text-align: center;
}

#ctc-img img {
  max-width: 100%;
  height: auto;
}

.container-download {
    margin-top: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  
.download-button-h1 {
    font-family:'Bebas Neue', sans-serif ;
    letter-spacing: 0.1em;
    margin-top: 10px;
}
  