body {
  background-color: #784302;
}

.main-container{
  min-height: 100vh;
  background-image: url('img/BG.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  z-index: 2;
  text-align: center;

}

.navbar a {
  text-decoration: none;
  color: #704214;
  margin-right: 2rem;
  flex-basis: 7%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
  
}


.navbar a:last-child {
  margin-right: 0;
}

.navbar-default{
  transition: 500ms ease;
  background: #9be2ec;
}

.navbar-default.scrolled {
  background-color: #F6D7B0;
}

.navbar-logo {
  flex-basis: auto;
  text-align: left;
  margin-bottom: -1.5em;
  margin-top: -1.5em;

}


.navbar-logo img {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.container-img {
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 10rem;

}

#sub-header-name {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  margin-top: -2rem;
  color: #945404;
  font-weight: bold;
}

#headline {
color: white;
font-family: 'Bebas Neue', sans-serif;
letter-spacing: 0.1em;
margin-left: -4rem;
}

.headline-subheader {
  color: white;
  text-align: justify;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  margin-left: -4rem;
}

.snake-icon {
max-width: 100%;
height: auto;
width: 350px;
margin-top: 13rem;
margin-left: -2rem;
}

.container {
display: flex;
flex-wrap: wrap;
}

.row.align-items-center {
flex-direction: column;
}

.col-6 {
flex: 0 0 50%;
max-width: 50%;
box-sizing: border-box;
}

.row.align-items-center > .col-6:not(:first-child) {
margin-top: 10rem;
}

.row.align-items-center {
  flex-direction: column;
}

.row.align-items-center {
flex-direction: row;
justify-content: space-between;
}


.col-6 {
flex: 0 0 auto;
max-width: none;
}

.third-image {
  max-width: 100%;
  height: 16.5rem;
  width: 22rem;
  margin-left: 1rem; 
  display: block; 
  margin-top: 8rem;
}

.col-md-9 {
  max-width: 43%;
  
}

.new-container {
display: flex;
justify-content: center;
margin-top: 6rem;
}


.new-container .row {
flex-wrap: wrap;
}

.new-container .col-12 {
flex-basis: 100%;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-family: 'Bebas Neue', sans-serif;
}

.headline-2 {
font-size: 5rem;
}

.new-container .col-12:not(:first-child) {
margin-top: 3rem;
}

.new-container .col-12.col-md-4 {
flex-basis: 33.33%;
max-width: 33.25%;
}

.box {
background-color: #3D2B1F;
color: #ffffff;
text-align: center;
padding: 20px;
width: 21rem;
position: relative;
height: 23rem;
}

.box-number {
font-size: 4.8rem;
}

.box-title {
margin-top: 1.5rem;
margin-bottom: 10px;
font-family: 'Bebas Neue', sans-serif;
word-spacing: 0.5rem;
font-size: clamp(18px, 4vw, 1.5rem)
}


.footer {
background-color: #3D2B1F;
padding: 20px;
text-align: center;
font-size: 14px;
}


.footer-title {
font-weight: bold;
margin-bottom: 0.3rem;
color: white;
font-family: 'Bebas Neue', sans-serif;
letter-spacing: 0.1rem;
}

.footer-links {
margin-top: 1.5rem;
color: white;
font-family: 'Bebas Neue', sans-serif;
letter-spacing: 0.1rem;
}

.footer-links a {
margin-right: 10px;
color: #333;
text-decoration: none;
}

html, body {
margin: 0;
padding: 0;
}

body {
display: flex;
flex-direction: column;
}

.content {
flex: 1;
}

.all-rights {
margin-top: 1rem;
color: white;
font-family: 'Bebas Neue', sans-serif;
letter-spacing: 0.1rem;
}

.container {
display: flex;
justify-content: center; 
align-items: center; 
}

.content-wrapper {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
height: 100vh;
justify-content: center;
}

.content-wrapper img {
max-width: 100%;
height: auto;
width: 90%;
margin-top: 2rem;
}

.content-wrapper h1 {
font-size: 3.8rem;
margin-bottom: 2rem;
}

.container-download {
margin-top: 3%;
text-align: center;
align-items: center;
justify-content: center;
}

.download-button-h1 {
font-family:'Bebas Neue', sans-serif ;
letter-spacing: 0.1em;
margin-top: 10px;
}
